.container{
    height: 444px;
    width: 100%;
    display: flex;
    /* flex-direction: column;
     */
     /* this is done to make the horizontal row of container 
      */
      /* flex-direction: row-reverse; */
      /* the direction of the box are aligned revesrely */
      /* flex-wrap: wrap; */
      /* flex-wrap: wrap-reverse; */
      /* flex-flow:row-reverse wrap;
      justify-content: center;
      justify-content: space-between; */
      /* justify-content: space-evenly; */
      /* flex-direction: row
      ; */
      /* flex-wrap: nowrap;
      justify-content: center;
      align-items: center; */
      /* to make the items vertically center */

}


.items{
    width: 110px;
    height: 33px;
    /* display: flex; */
    background-color: aqua;
    padding: 0px 4px 6px 7px;
  margin: 0px 4px 7px;
  border:2px solid black;
}
#items-1{
/* order:2; */
/* higher the order later it shows up in the container  */
/* flex-grow: 3;
flex-shrink: 3; */
flex-basis: 320px;
/* when flex direction is set to row  flex-basis will control width */
}

#items-2{
    /* order:3; */
    align-self: start ;
    align-self: center;
    align-self: flex-end;
}

#items-3{
    /* order: 0;
    flex: 2 2 343px;
    2 is the flex grow and flex shrink and 343 px is the flex basic which is the
    short hand form opf the flex
} */
/* flex properties for flex .container  */
}